.main {
  text-align: center;
}

.container {
  height: 500px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.box {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
